{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "commonjs": true
  },
  "rules": {
    "indent": ["error", 2],
    "global-require": ["error"],
    "handle-callback-err": ["error"]
  }
}
