main{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main h1{
    font-size: 70px;
}

main h2{
    font-size: 50px;
}

.btn {
    background: #ffffff;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 5px 0px;    
}

.btn:hover{
    color: white;
    background: #00ff97;
    transition: 0.2s ease;   
}