@font-face {
  font-family: "Ubuntu";
  src: url("@fonts/ubuntu-300.woff2") format("woff2"),
    url("@fonts/ubuntu-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*root, definiremos las variables*/
 /* :root {
   --primerColor: #2cd843;
 }   */

 /*cambia el tema de colores, usado regularmente para el modo-oscuro*/
/* [data-theme="dark"] {
  --primerColor: #3a0bd3;
} */


html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;/*pone el cursor con diseño de manita a los enlaces*/
}

li{
  list-style: none;/*elimina el bullet de los li o los # segun sea el caso (ol,ul)*/
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: rgb(133, 172, 250);
  min-height: 100vh;
  display: grid;/*siempre mantene el footer hasta abajo*/
  grid-template-columns: 100vw;/*solo abrá una columna que mantendra el 100% del viewport*/
  grid-template-rows: auto 1fr auto;/*solo habran 3 filas, la de arriba y la de abajo con un alto automatico, la de en medio con 1fraccion(va a medir lo que tenga que medir)pero si no tiene contenido suficiente abarca todo el alto disponible*/
  overflow-x: hidden;/*todo lo que se desborde a los lados, ocultalo*/
  position: relative;
  background-image: url('../../public/assets/images/galaxy.jpg');
}

body::-webkit-scrollbar { /*elimina la barra de scroll, sera necesario agregar un boton para ir al inicio*/
  display: none;
}
